# Binary directories.
/[Bb]uild*/
/BIN
/.INT
/Engine/Experimental/AcadDM-Vulkan/BIN
/Engine/Experimental/AcadDM-Vulkan/.INT

# Temporary directories.
.vs/
.gradle/
.idea/
__pycache__/
__cache__/

# Temporary files
editor/Android/local.properties